<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% for (let row of rows) { %>
    <p><%= row.b_num %></p>
    <p><%= row.b_title %></p>
    <p><%= row.b_content %></p>
    <% } %>
</body>
</html>